.infinite-slider-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    white-space: nowrap;
}

.infinite-slider {
    display: inline-flex;
    animation: scroll 25s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}
